.App {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.2s linear;
}
.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  width: 20px;
}

.clavier {
  background-color: lightgray;
  border-radius: 3px;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clavier .lettre {
  width: 52px;
  height: 52px;
  margin: 3px;
  border-radius: 3px;

  /* Ceci est horrible mais cest tout de même la meilleure solution que jai
   trouvé pour centrer un élément verticalement dans un div */
  line-height: 50px;
  text-align: center;

  /* Pour rendre le text pas sélectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.clavier .lettre-utilisee {
  background-color: #fa9688;
  color: white;
}

.clavier .lettre-inutilisee {
  background-color: white;
  color: #4e4e4e;
}

.clavier .lettre-rejouer {
  background-color: white;
  color: #4e4e4e;
}

.clavier .lettre-rejouer:hover {
  background-color: #a9d962;
  color: white;
}

.clavier .lettre-inutilisee:hover {
  background-color: #c9e6f5;
  color: #2d2c2c;
}
.mot p {
  text-align: right;
  font-size: 3em;
  letter-spacing: 5px;
}
.title {
  margin-top: 15px;
  border-top: 20px;
}

/*
BARRE DE barreVie
*/

.barreVieContainer {
  position: relative;
  float: left;
  max-width: 20%;
  min-width: 70px;
  height: 100px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.barreVie {
  background-color: #a9d962;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
}
body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
}
